.value {
  min-height 70 px;
  text-align center;
  margin-top 50px;
  font-size 24px;
  display block;
  width 100%;
}

.dates {
  min-height 40px;
  text-align center;
  font-size 16px;
  display block;
  width 100%;
}
